/*GENERAL*/

html {
  height: 100%;
}
body{
	background-color: rgba(0, 0, 0, 0.07);
	min-height: 100%;
}

.centered{
	text-align: center;
}

.nom{
	padding : 2px 2px 2px 2px;
	font-size : 80%;
}

#connexion{
	text-align: center;
	margin-right: 2%;
}

.title{
	background-image : linear-gradient(rgba(20, 20, 250, 0.8), rgba(100, 150, 250, 0.5));
	margin-bottom: 10%;
	height: auto;
	padding-bottom: 30px;
	padding-top: 30px;
}

.footer{
	margin-top: 18%;
	margin-bottom: 0;
	background-image:linear-gradient(rgba(250, 250, 250, 0.2), rgba(20, 20, 20, 0.8));
}


#bouton-retour{
	margin-top: 15%;
}

.all-width{
	width: 100%;
}

/*BLOC CONNEXION*/
.bouton-connexion:hover{
	background-color: rgba(100, 100, 200, 0.3);
}

#connexion{
	margin: 0 auto;
	text-align: center;
}

#inscription{
	margin: 0 auto;
	text-align: center;
}


/*AFFICHAGE DES LISTES*/
.carte-liste{
	background-color: rgba(0, 0, 255, 0.25);
	margin-bottom: 5%;
}
.carte-liste:hover{
	background-color: rgba(0, 0, 255, 0.40);
	transform: scale3d(1.05, 1.05, 1.05);
}

#listes-en-cours{
	margin-top: 5%;
}

#listes-expirees{
	margin-top: 5%;
}

/*AFFICHAGE CONTENU LISTE*/

#bloc-items{
	margin-top: 5%;
}

#ajouterMessage{
	margin-top: 5%;
}

/*AFFICHAGE ITEM*/
#ModifierUnItem{
	margin-bottom: 5%;
	margin-top: 5%;
}

#modifierUneListe{
	font-size: 120%;
}


a:link.link-list{
	margin : 0 0 0 0;
	padding: 0 0 0 0;
}

a:link.item-list{
	margin : 0 0 0 0;
	padding: 0 0 0 0;
}

a:hover{
	border-color: white;
}

.form-group{
	text-align: left;
	margin-left: 0px;
}

#formToken{
	height: 20px;
	margin-bottom: 5%;
}

#token{
	height: 40px;
	resize: none;
	text-align: center;
	background-color: rgba(50, 50, 50, 0.2);
}